#header-top {
    border-bottom: 2px solid #ccc;
}

.block-system-branding-block{
    position: relative;
    height: auto;
    text-align: center;

    a{
   	display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    margin: 0 auto;
    }
}


#block-con-main-menu{
	padding-bottom: 0;
		ul{
			margin: 0 auto;
			    padding-top: 4rem;

			 .nav-item:nth-child(3){
			 	margin-right: 14rem;

			    }

			li{
					a.nav-link{
						color: #92969e;
					    text-transform: uppercase;
					    font-weight: bold;
					    font-size: .8rem;
					    letter-spacing: 0.2em;
					    padding: 21px 26px;
					    transition: .4s ease;
					    &:hover{
					    	border-bottom: 4px solid #ff5252;
	    					color: #fd1f58;
					    	transition: .4s ease;
					    }
					}
					a.is-active{
					    border-bottom: 4px solid #ff5252;
	    				color: #fd1f58;
					    }
				}
		}
}




#header-bottom{
	text-align: center;
	position: relative;
	z-index: -1;
	img{
		height: auto;
		max-width: 100%;
		width: 100%;
	}
	.field__label{
		display: none;
	}
	.banner-tagline-block{
		position: relative;
		.field__item{
			position: absolute;
			top: -11rem;
    		text-align: left;
	    		h3{
	    			color:#ccc;
	    		}
	    		a{
	    			@extend%button-pink;
	    			margin-top: 1.2rem;
	    			display: inline-block;
	    			cursor: pointer; 
	    		}
    		}	
	}

}

